.myfont{
    font-family: 'Courier New', Courier, monospace;
}

.mysubfont{
    font-family: Arial, Helvetica, sans-serif;
    color: white !important;
}

.myimg{
    width: 40% !important;
}

.myitalics{
    font-style: italic !important;
}